:root {
    --purple: #9D4EDD;
    --lightpurple: rgba(157, 78, 221, 0.2);
    --white: #FFFFFF;
    --black: #000000;
    --blue: #0080FF;
    --lightblue: rgba(0, 128, 255, 0.2);
    --orange: #FC3400;
    --lightorange: rgba(252, 52, 0, 0.2);
    --green: #1DBF73;
    --lightgreen: rgba(29, 191, 115, 0.2);
    --teel: #3C6E71;
    --lightteel: rgba(60, 110, 113, 0.2);
    --grey: #84818A;
    --lightgrey: #B0B7C3;
    --lightgrey2: #F8F8F8;
    --lightgrey3: #EAEAEA;
  }
  .navbar{
    padding: .6rem 2rem;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
.leftpart{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.centerpart{
  width: 35%;
}
.searchbox{
  background-color:var(--lightgrey3);
  width: 100%;
  display: flex;
  align-items: center;
  padding: .3rem .3rem;
  border-radius: .4rem;
}
.searchbox input{
  outline: none;
  width: 90%;
  padding: .3rem .2rem;
  border: none;
  background-color: var(--lightgrey3);
}
.searchbox input::placeholder{
  color: var(--grey);
}
.rightpart{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.prof{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: .5rem;
}
.userinfo{
  margin-left: .5rem;
}